{% extends 'pfsite/pfbase.html' %}

{% block content %}
<body class="index_page">
  <div class="titles">
      <h1 class="name">Penny Fang</h1>
      <p class="description">Software Engineer & Content Creator</p>
  </div>
    <div class="container">
      <table class="table-responsive">
        <table class="table table-borderless">
          <tr>
            <td id="portfolio"><a href="{% url 'pfsite:projects' %}"><button type="button" class="btn btn-dark btn-xlarge custom-button">Portfolio</button></a></td>
            <td id="resume"><a href="{% url 'pfsite:resume' %}"><button type="button" class="btn btn-dark btn-xlarge custom-button">Resume</button></a></td>
          </tr>
        </table>
        <table class="table table-borderless">
          <tr id="socialicons">
            <td>
              <a class="btn btn-social-icon btn-linkedin" id="socialmedia" href="https://www.linkedin.com/in/le-penny-fang/"><span class="fa fa-linkedin"></span></a>
              <a class="btn btn-social-icon btn-github" id="socialmedia" href="https://github.com/Pennylele"><span class="fa fa-github"></span></a>
              <a class="btn btn-social-icon btn-instagram" id="socialmedia" href="https://www.instagram.com/pennbubble/?hl=en"><span class="fa fa-instagram"></span></a>
              <a class="btn btn-social-icon btn-twitter" id="socialmedia" href="https://twitter.com/fangle0121"><span class="fa fa-twitter"></span></a>
              <a class="btn btn-social-icon btn-youtube" id="socialmedia" href="https://www.youtube.com/channel/UC6TWeFeoh_oQLxv15hswNxQ"><span class="fa fa-youtube-play"></span></a>
            </td>
          </tr>
        </table>
      </table>
    </div>
</body>
{% endblock %}
